/* === START CSS RESET === https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, p {
    margin: 0;
}

/* === END CSS RESET === */

/* COMPOSITION */
body {
    min-height: 100vh;
}

/* UTILITIES */
:root {
    --white-1: #FFFFFF;
    --white-2: #F2F2F2;
    --orange: #E28625;
    --teal: #006971;
    --green: #004140;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-primary {
    background-color: var(--white-2);
}

.bg-secondary-orange {
    background-color: var(--orange);
}

.bg-secondary-teal {
    background-color: var(--teal);
}

.bg-secondary-green {
    background-color: var(--green);
}

.font-orange {
    color: var(--orange);
}

.font-teal {
    color: var(--teal);
}

.font-green {
    color: var(--green);
}

/* BLOCK */
.card {
    display: flex;
    font-family: "Big Shoulders Display", sans-serif;
    overflow: clip;
    border-radius: 8px;
}

.feature {
    height: 100%;
    padding: 48px;
}

.feature-icon {
    display: inline-block;
    overflow: clip;
    height: 40px;
}

.feature-icon > * {
    height: 100%;
}

.feature__title {
    color: var(--white-2);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 35px;
}

.feature__text {
    color: var(--white-1);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
    opacity: 0.75;
}

.feature__button {
    background-color: var(--white-1);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    flex-shrink: 0;
    border: none;
    width: 146px;
    height: 48px;
    border-radius: 25px;
}

/* EXCEPTIONS */
.feature__button:hover {
    background-color: transparent;
    color: var(--white-1);
    border: 2px solid var(--white-1);
    cursor: pointer;
}

@media only screen and (width > 1220px) {
    .card {
        max-width: 920px;
        height: 500px;
        justify-content: center;
        align-items: center;
    }

    .feature {
        width: 307px;
    }

    .feature__button {
        margin-top: 83px;
    }

    .main-wrapper {
        width: 1440px;
        height: 800px;
        padding-top: 171px;
        padding-left: 260px;
    }
}

@media only screen and (width <= 1220px) {
    .card {
        max-width: 327px;
        min-height: 1326px;
        flex-shrink: 0;
        margin: 10px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .feature__button {
        margin-top: 25px;
    }
}